opencv-python==4.10.0.84
ultralytics==8.3.49
numpy==1.26.4
Flask==3.0.3
Werkzeug==3.0.6
streamlit==1.40.2
plyer==2.1.0
PyYAML==6.0.3
pytest==8.3.4
ruff==0.8.4
black==24.10.0
mypy==1.13.0
python-dotenv==1.0.1
